/* Write your CSS here */
.tab-item {
  list-style-type: none;
}

.tab-button {
  color: #7b8794;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #dfe2e5;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .tab-button {
    font-size: 16px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 8px;
  }
}

.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .active {
    padding-bottom: 12px;
  }
}

/*
.tab-item-container {
  padding-right: 4px;
}

@media screen and (min-width: 992px) {
  .tab-item-container {
    padding-right: 24px;
  }
}

.button {
  font-family: 'Roboto';
  color: #9aa5b1;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .button {
    font-size: 24px;
  }
}

.active-button {
  border-bottom: 2px solid #0b69ff;
  color: #3e4c59;
}
*/
